html, body {
  background: white;
  font-family: Asap, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0px;
}

.maincontainer {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  height: 40%;
  width: 100%;
  background: #ccc;
  border: 5px solid black;
  overflow:hidden;
}

.box {
  /* height: 0%; */
  width: 100%;
  /* position: absolute; */
  font-size: 25px;
  line-height: 50px;
  /* text-align: center; */
  border: 1px solid black;
}


.box{
  margin-top:5px;
  margin-bottom:5px;
}

/* #boxes3{
  transform: translateY(-303%)
} */